<h1>{{ ('general.welcome'|trans) }}</h1>

<p>{{ ('registration.mail_text'|trans({'%login%': login}))|raw }}</p>

<p>{{ ('password_reset.signature'|trans({'%site_url%': siteUrl, '%site_name%': siteName}))|raw }}</p>
