{% extends 'base.html.twig' %}

{% block title %}{{ ('general.home'|trans) }}{% endblock %}

{% block body %}
    <h1 class="w3-card-4 w3-padding-16">{{ ('general.welcome'|trans) }}</h1>
{% endblock %}