{% extends '@DelPlopUser/base.html.twig' %}

{% block title %}{{ ('general.home'|trans) }}{% endblock %}

{% block body %}
    {% block pageTitle %}
        <h1>{{ ('general.welcome'|trans) }}</h1>
    {% endblock %}
{% endblock %}
